/* line 1, ../sass/partials/_base.scss */
html {
  overflow-x: hidden;
}

/* line 5, ../sass/partials/_base.scss */
a {
  cursor: pointer;
}

/* line 9, ../sass/partials/_base.scss */
* {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
}

/* line 14, ../sass/partials/_base.scss */
header {
  margin-top: 55px;
  background-color: #f6f6f6;
  border-top: 2px solid #c2c2c2;
}

/* line 20, ../sass/partials/_base.scss */
ul {
  display: block;
  padding-left: 0;
}
/* line 23, ../sass/partials/_base.scss */
ul li {
  display: block;
}

/* line 28, ../sass/partials/_base.scss */
button {
  border: 0;
  outline: none;
}

/* line 45, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/partials/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/partials/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 7, ../sass/styles.scss */
.wrap {
  width: 1080px;
  margin: auto;
  display: flex;
}

/* line 13, ../sass/styles.scss */
.user-skills {
  background-color: #006a00;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  border-top: 2px solid #c3c3c3;
}
/* line 20, ../sass/styles.scss */
.user-skills .name {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: default;
  margin-top: 0;
  margin-bottom: 8px;
}
/* line 28, ../sass/styles.scss */
.user-skills .location {
  display: flex;
}
/* line 30, ../sass/styles.scss */
.user-skills .location img {
  height: 100%;
  margin-bottom: 24px;
}
/* line 34, ../sass/styles.scss */
.user-skills .location p {
  font-size: 13px;
  color: #fff;
  margin-top: 7px;
  margin-left: 7px;
  letter-spacing: 1px;
}
/* line 42, ../sass/styles.scss */
.user-skills .skills {
  display: flex;
}
/* line 44, ../sass/styles.scss */
.user-skills .skills .vr {
  width: 1px;
  background-color: #fff;
}
/* line 48, ../sass/styles.scss */
.user-skills .skills ul {
  margin-top: 24px;
  margin-bottom: 9px;
}
/* line 51, ../sass/styles.scss */
.user-skills .skills ul li {
  margin-bottom: 10px;
  text-decoration: none;
  height: 19px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 8px;
  padding-top: 5px;
  font-size: 15px;
  color: #111;
}

/* line 66, ../sass/styles.scss */
.ava {
  margin-left: 72.5px;
  margin-right: 72.5px;
  width: 300px;
  padding-top: 50px;
}
/* line 71, ../sass/styles.scss */
.ava .user {
  border: 4px solid #038903;
  border-radius: 100%;
  width: 294px;
  height: 294px;
  background-image: url(../img/user1.png);
}
/* line 78, ../sass/styles.scss */
.ava .buttons {
  margin-top: 30px;
  display: block;
  padding-left: 46px;
  padding-right: 46px;
}
/* line 83, ../sass/styles.scss */
.ava .buttons div {
  margin-top: 10px;
  display: flex;
}
/* line 87, ../sass/styles.scss */
.ava .buttons button {
  display: block;
  height: 33px;
  background-color: #111;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin: auto;
}

/* line 99, ../sass/styles.scss */
#message {
  width: 155px;
}

/* line 103, ../sass/styles.scss */
#follow {
  width: 155px;
}

/* line 107, ../sass/styles.scss */
#statistic {
  margin-left: 12px;
  width: 35px;
  background-image: url("../img/stat.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 115, ../sass/styles.scss */
.info {
  width: 425px;
  padding-top: 5px;
}
/* line 118, ../sass/styles.scss */
.info .yourself {
  border: 1px solid #c3c3c3;
  height: 175px;
  background-color: white;
  margin-top: 18px;
}
/* line 123, ../sass/styles.scss */
.info .yourself h1 {
  display: block;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  color: #c1c1c1;
}
/* line 131, ../sass/styles.scss */
.info .yourself .head-info {
  color: #111;
  display: flex;
}
/* line 134, ../sass/styles.scss */
.info .yourself .head-info div {
  width: 1px;
  background-color: #111;
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 6px;
  margin-right: 6px;
}
/* line 142, ../sass/styles.scss */
.info .yourself .head-info h3 {
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  display: block;
}
/* line 150, ../sass/styles.scss */
.info .yourself .head-info h4 {
  margin-top: 20px;
  font-size: 13px;
  display: block;
}
/* line 156, ../sass/styles.scss */
.info .yourself hr {
  margin: 0;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  color: #ebebeb;
}
/* line 163, ../sass/styles.scss */
.info .yourself .communities {
  display: flex;
  padding-left: 16px;
  margin-top: 7px;
  margin-bottom: 8px;
}
/* line 169, ../sass/styles.scss */
.info .yourself .communities a img {
  height: 26px;
  width: 22px;
  margin-top: 23px;
}
/* line 175, ../sass/styles.scss */
.info .yourself .communities .community {
  display: flex;
}
/* line 177, ../sass/styles.scss */
.info .yourself .communities .community .com-logo {
  margin-left: 10px;
  margin-right: 8px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 1px solid #038903;
  background-color: #038903;
}
/* line 186, ../sass/styles.scss */
.info .yourself .communities .community .com-info {
  width: 80px;
  overflow-x: hidden;
}
/* line 189, ../sass/styles.scss */
.info .yourself .communities .community .com-info h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
}
/* line 194, ../sass/styles.scss */
.info .yourself .communities .community .com-info p {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 10px;
}
/* line 203, ../sass/styles.scss */
.info .yourself-info {
  height: 207px;
}

/* line 209, ../sass/styles.scss */
.blog {
  height: 480px;
  padding-top: 45px;
  background-color: #d7d7d7;
}
/* line 213, ../sass/styles.scss */
.blog .wrap {
  display: block;
}
/* line 215, ../sass/styles.scss */
.blog .wrap .blogSearch {
  width: 220px;
  margin-left: 0;
}
/* line 218, ../sass/styles.scss */
.blog .wrap .blogSearch p {
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  color: #595959;
}
/* line 225, ../sass/styles.scss */
.blog .wrap .blogSearch hr {
  margin: 0;
}
/* line 228, ../sass/styles.scss */
.blog .wrap .blogSearch .searchBox {
  display: flex;
  margin-bottom: 30px;
}
/* line 231, ../sass/styles.scss */
.blog .wrap .blogSearch .searchBox input {
  color: #6a6a6a;
  padding: 0;
  padding-left: 8px;
  font-size: 15px;
  margin-top: 20px;
  height: 30px;
  width: 180px;
  border: 0;
  outline: 0;
}
/* line 242, ../sass/styles.scss */
.blog .wrap .blogSearch .searchBox button {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-top: 20px;
  margin-left: 2px;
  width: 30px;
  height: 30px;
}
/* line 254, ../sass/styles.scss */
.blog .wrap .examples {
  display: flex;
}
/* line 256, ../sass/styles.scss */
.blog .wrap .examples a {
  display: block;
}
/* line 258, ../sass/styles.scss */
.blog .wrap .examples a img {
  display: block;
  margin-top: 109px;
  display: block;
  height: 100%;
}
/* line 265, ../sass/styles.scss */
.blog .wrap .examples .example {
  margin-left: 34px;
  position: relative;
  width: 285px;
  height: 290px;
  background-color: white;
  border: 2px solid #111111;
}
/* line 273, ../sass/styles.scss */
.blog .wrap .examples .example .data p {
  font-size: 13px;
  color: #959595;
  margin-bottom: 0;
  margin-top: 13px;
}
/* line 279, ../sass/styles.scss */
.blog .wrap .examples .example .data .day {
  text-align: center;
}
/* line 282, ../sass/styles.scss */
.blog .wrap .examples .example .data hr {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #959595;
}
/* line 287, ../sass/styles.scss */
.blog .wrap .examples .example .data .time {
  margin-top: 0;
  color: #dadada;
}
/* line 292, ../sass/styles.scss */
.blog .wrap .examples .example h2 {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 301, ../sass/styles.scss */
.blog .wrap .examples .example img {
  display: block;
  height: 128px;
  margin: auto;
  border: 1px solid #959595;
}
/* line 307, ../sass/styles.scss */
.blog .wrap .examples .example .solo-img {
  width: 200px;
  height: auto;
  margin-top: 45px;
  margin-bottom: 48px;
  border: 0;
}
/* line 314, ../sass/styles.scss */
.blog .wrap .examples .example button {
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 184px;
  height: 28px;
  background-color: #111111;
  color: white;
  font-size: 18px;
}
/* line 324, ../sass/styles.scss */
.blog .wrap .examples .example .content {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 18px;
  font-size: 15px;
}
/* line 329, ../sass/styles.scss */
.blog .wrap .examples .example .content .content-header {
  color: #686666;
}
/* line 332, ../sass/styles.scss */
.blog .wrap .examples .example .content .content-body {
  color: #868585;
}
/* line 337, ../sass/styles.scss */
.blog .wrap .examples .example:nth-child(2) {
  margin-left: 0;
}
/* line 341, ../sass/styles.scss */
.blog .wrap .examples .left .data {
  padding-left: 160px;
}
/* line 343, ../sass/styles.scss */
.blog .wrap .examples .left .data .time {
  text-align: right;
  padding-right: 25px;
}
/* line 348, ../sass/styles.scss */
.blog .wrap .examples .left h2 {
  text-align: left;
}
/* line 352, ../sass/styles.scss */
.blog .wrap .examples .mid {
  margin-left: 34px;
  margin-right: 34px;
}
/* line 355, ../sass/styles.scss */
.blog .wrap .examples .mid .data {
  width: 138px;
  margin: auto;
}
/* line 358, ../sass/styles.scss */
.blog .wrap .examples .mid .data .time {
  text-align: center;
}
/* line 362, ../sass/styles.scss */
.blog .wrap .examples .mid h2 {
  text-align: center;
}
/* line 367, ../sass/styles.scss */
.blog .wrap .examples .rigth .data {
  width: 138px;
}
/* line 369, ../sass/styles.scss */
.blog .wrap .examples .rigth .data .time {
  text-align: left;
  padding-left: 25px;
}
/* line 374, ../sass/styles.scss */
.blog .wrap .examples .rigth h2 {
  text-align: right;
}

/* line 382, ../sass/styles.scss */
#left-blog {
  margin-right: 28px;
}

/* line 386, ../sass/styles.scss */
#rigth-blog {
  margin-left: 28px;
}

/* line 391, ../sass/styles.scss */
.timeline header {
  margin: 0;
  background-color: white;
  border: 0;
}
/* line 395, ../sass/styles.scss */
.timeline header .wrap {
  display: block;
  width: 1080px;
  margin: auto;
}
/* line 399, ../sass/styles.scss */
.timeline header .wrap p {
  margin-bottom: 2px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #595959;
}
/* line 406, ../sass/styles.scss */
.timeline header .wrap hr {
  margin: 0;
  width: 200px;
}
/* line 410, ../sass/styles.scss */
.timeline header .wrap .searchBox {
  display: flex;
  margin-bottom: 10px;
}
/* line 413, ../sass/styles.scss */
.timeline header .wrap .searchBox input {
  padding: 0;
  padding-left: 18px;
  margin-top: 10px;
  height: 28px;
  width: 152px;
  border: 0;
  outline: 0;
  background-color: #f7f7f7;
  font-size: 12px;
  color: #686666;
  border: 1px solid #7e7e7e;
  border-right: 0;
}
/* line 427, ../sass/styles.scss */
.timeline header .wrap .searchBox button {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7f7f7;
  margin-top: 10px;
  margin-left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #7e7e7e;
}
/* line 441, ../sass/styles.scss */
.timeline section {
  background-color: white;
}
/* line 443, ../sass/styles.scss */
.timeline section .wrap {
  position: relative;
  height: 570px;
}
/* line 446, ../sass/styles.scss */
.timeline section .wrap button {
  display: block;
  margin-top: 255px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white;
  color: white;
}
/* line 454, ../sass/styles.scss */
.timeline section .wrap button img {
  display: block;
  width: 100%;
}
/* line 459, ../sass/styles.scss */
.timeline section .wrap .time-table {
  position: relative;
  width: 1000px;
  padding-top: 30px;
}
/* line 463, ../sass/styles.scss */
.timeline section .wrap .time-table .actions {
  display: flex;
}
/* line 465, ../sass/styles.scss */
.timeline section .wrap .time-table .actions .action {
  margin-left: 152px;
  width: 159px;
  height: 159px;
  border: 2px solid #111111;
  background-color: #111111;
  border-radius: 100%;
}
/* line 474, ../sass/styles.scss */
.timeline section .wrap .time-table .top {
  margin-bottom: 47px;
}
/* line 477, ../sass/styles.scss */
.timeline section .wrap .time-table .top div:first-child {
  margin-left: 39px;
}
/* line 482, ../sass/styles.scss */
.timeline section .wrap .time-table .bottom {
  margin-top: 47px;
}
/* line 485, ../sass/styles.scss */
.timeline section .wrap .time-table .bottom div:first-child {
  margin-left: 200px;
}
/* line 491, ../sass/styles.scss */
.timeline section .wrap .time-table .action-data ul {
  position: relative;
  z-index: 2;
  display: flex;
  height: 70px;
  padding-left: 0px;
}
/* line 497, ../sass/styles.scss */
.timeline section .wrap .time-table .action-data ul li {
  margin: 20px;
  margin-left: 107px;
  background-color: #111111;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
/* line 504, ../sass/styles.scss */
.timeline section .wrap .time-table .action-data ul li div {
  display: none;
  color: white;
}
/* line 508, ../sass/styles.scss */
.timeline section .wrap .time-table .action-data ul li:hover {
  cursor: default;
  margin: 0;
  margin-left: 87px;
  height: 70px;
  width: 70px;
}
/* line 514, ../sass/styles.scss */
.timeline section .wrap .time-table .action-data ul li:hover div {
  display: block;
  padding-top: 20px;
}
/* line 517, ../sass/styles.scss */
.timeline section .wrap .time-table .action-data ul li:hover div p {
  text-align: center;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 2px;
}
/* line 529, ../sass/styles.scss */
.timeline section .wrap .hor-line {
  width: 1000px;
  background-color: #111111;
  height: 2px;
  position: absolute;
  top: 274px;
  left: 40px;
}
/* line 537, ../sass/styles.scss */
.timeline section .wrap .vert-line {
  padding: 0;
  margin: 0;
  display: flex;
}
/* line 541, ../sass/styles.scss */
.timeline section .wrap .vert-line li {
  width: 2px;
  height: 70px;
  background-color: #111111;
  margin: 0;
  margin-right: 312px;
}
/* line 549, ../sass/styles.scss */
.timeline section .wrap .top-line {
  position: absolute;
  top: 193px;
  left: 161px;
}
/* line 554, ../sass/styles.scss */
.timeline section .wrap .bottom-line {
  position: absolute;
  top: 290px;
  left: 319px;
}

/* line 563, ../sass/styles.scss */
footer {
  display: flex;
  background-color: #008400;
  height: 199px;
  color: white;
}
/* line 568, ../sass/styles.scss */
footer .wrap {
  margin-top: 0;
}
/* line 570, ../sass/styles.scss */
footer .wrap h3 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding-top: 1px;
  margin-top: 85px;
  margin-left: 200px;
}
/* line 578, ../sass/styles.scss */
footer .wrap .vertical {
  height: 125px;
  width: 1px;
  background-color: #dfdfce;
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 10px;
}
/* line 586, ../sass/styles.scss */
footer .wrap .contacts {
  display: block;
  margin-top: 50px;
}
/* line 589, ../sass/styles.scss */
footer .wrap .contacts p {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 0;
}
/* line 595, ../sass/styles.scss */
footer .wrap .contacts .socials {
  display: flex;
}
/* line 597, ../sass/styles.scss */
footer .wrap .contacts .socials a {
  display: block;
  border-radius: 100%;
  background-color: white;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}
