$green: #006a00;
$medium-green: #038903;
$ligth-green: #028902;
$dark-green: #1f4f1e;
$dark: #111;
$grey: #d7d7d7;
$cream: #f6f6f6;
$grey-text: #c1c1c1;
$dark-text: #686666;
$grey-btn: #959595;
$grey-hr: #c3c3c3;
$ligth-hr: #ebebeb;
$yellow: #dfdfce;
$black-text: #414141;
$muted-text: #6a6a6a;
$very-muted-text: #dadada;
